<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Toboolist</title>
</head>

<body>


  <!-- Header -->
  <header class="header">
    <img id="logo" src="./assets/img/logo.png" alt="logo-toboolist">
  </header>
  <!-- /Header -->


  <!-- Main -->
  <div id="app">
    <main>
      <!-- CONTAINER -->
      <div class="container">
        <!-- TOP-CONTAINER -->
        <div class="top-container">
          <span class="span-form">
            <input class="input-todo-object" type="text" placeholder="es: Fare la spesa..." v-model="newTodo.object"
              @keyup.enter="addTodo">
            <input class="input-todo-tag" type="text" placeholder="Tag" v-model="newTodo.tag" @keyup.enter="addTodo">
            <button class="submit-btn" @click="addTodo" type="submit">Add Task</button>
          </span>
        </div>
        <!-- /TOP-CONTAINER -->
        <hr>
        <!-- BOTTOM-CONTAINER -->
        <ul class="daily-task">
          <li>
            <h3>&#10148; TASK</h3>
            <ul class="todo-thing">

              <li class="items" v-for="curItem, index in todo.object" @click="doneItem(index)">
                <span class="mark cross" @click="removeList(index)"><i class="fa-solid fa-circle-xmark"></i></span>
                <span class="object" :class="{ done: this.todo.isDone[index] }">{{ todo.object[index] }}</span>
                <span class="tag editorial"> {{ todo.tag[index] }} </span>
              </li>

            </ul>
            <!-- /BOTTOM-CONTAINER -->
      </div>
      <!-- /CONTAINER -->
    </main>
  </div>
  <!-- /Main -->

  <!-- fontAwesome -->
  <script src="https://kit.fontawesome.com/84174ae206.js" crossorigin="anonymous"></script>
  <!-- custom js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>